.page-template-page-apply {
	h1 {
		margin: 0 auto;
	}
	.-big {
		@include breakpoint(medium) {
			font-size: 1.2em;
		}
	}
	.-bold {
		font-weight: bold;
	}
	.-block {
		display: block;
	}
	.-indent {
		@include breakpoint(medium) {
			padding: 2rem;
		}
	}
	h3 {
		@extend .-bold;
		border-left: 5px solid $primary-color;
		padding-left: 1rem;
		margin: 1em 0 0;
	}
	.p-number {
		float: left;
		font-size: 4rem;
		color: $primary-color;
		margin-right: 1rem;
	}
}